{% extends 'base.html' %}
{% import 'macro/recommond.html' as reco %}
{% import 'macro/person.html' as follow %}

{% block style %}
    {{ super() }}
{% endblock %}
{% block content %}
<article>
    <!--banner begin-->
    <div class="picsbox">
  <div class="banner">
    <div id="banner" class="fader">
        {% for blog in recommend %}
            <li class="slide" ><a href="{{ url_for('web.detail',id=blog.id) }}" target="_blank"><img src="{{ blog.poster }}"><span class="imginfo">{{ blog.title }}</span></a></li>
        {% endfor %}


      <div class="fader_controls">
        <div class="page prev" data-target="prev">&lsaquo;</div>
        <div class="page next" data-target="next">&rsaquo;</div>
        <ul class="pager_list">
        </ul>
      </div>
    </div>
  </div>
  <!--banner end-->
  <div class="toppic">
      {% for foo in range(2) %}
          <li> <a href="{{ url_for('web.detail') }}" target="_blank"> <i><img src="{{ url_for('static',filename='images/toppic01.jpg') }}"></i>
          <h2>别让这些闹心的套路，毁了你的网页设计!</h2>
          <span>学无止境</span> </a> </li>
      {% endfor %}
       <div style="margin-top:5px;margin-left: 50px;position: relative">
           <i>心情不好,来首音乐把</i>
        <audio src="{{ url_for('static',filename='mp3/sound.mp3') }}" controls></audio>
      </div>
  </div>

  </div>
    <div class="blank"></div>
    <!--blogsbox begin-->
    <div class="blogsbox">
    {% for blog in list %}
{#        有图片的模板#}
        {% if blog.poster %}
            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
            <h3 class="blogtitle"><a href="{{ url_for('web.detail',id=blog.id) }}" target="_blank">{{ blog.title }}</a></h3>
            <span class="blogpic"><a href="{{ url_for('web.detail',id=blog.id) }}" title=""><img src="{{ blog.poster }}" alt=""></a></span>
            <p class="blogtext">{{ blog.body }} </p>
            <div class="bloginfo">
                <ul>
                  <li class="author"><a href="/">{{ blog.author }}</a></li>
                  <li class="lmname"><a href="/">{{ blog.select }}</a></li>
                  <li class="timer">{{ blog.create_time }}</li>
                  <li class="view"><span>34567</span>已阅读</li>
                  <li class="like">9999</li>
                </ul>
            </div>
        </div>
        {% else %}
{#        无图片的模板#}
            <div class="blogs" data-scroll-reveal="enter bottom over 1s" >

              <h3 class="blogtitle"><a href="{{ url_for('web.detail',id=blog.id) }}" target="_blank">{{ blog.title }}</a></h3>
              <p class="blogtext">{{ blog.body }}</p>
              <div class="bloginfo">
                <ul>
                  <li class="author"><a href="/">{{ blog.author }}</a></li>
                  <li class="lmname"><a href="/">{{ blog.select }}</a></li>
                  <li class="timer">{{ blog.create_time }}</li>
                  <li class="view">4567已阅读</li>
                  <li class="like">9999</li>
                </ul>
              </div>
            </div>
        {% endif %}
    {% endfor %}



  </div>

    <!--blogsbox end-->
    <div class="sidebar">
    {{ reco.new(new_blog) }}

    <div class="tuijian">
      <h2 class="hometitle">推荐文章</h2>
      <ul class="tjpic">
        <i><img src="{{ url_for('static',filename='images/toppic01.jpg')}}"></i>
        <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
      </ul>
      <ul class="sidenews">
          {% for foo in range(4) %}
            <li> <i><img src="{{ url_for('static',filename='images/toppic01.jpg')}}"></i>
                <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
            <span>2018-05-13</span> </li>
          {% endfor %}
      </ul>
    </div>

    <div class="tuijian">
      <h2 class="hometitle">点击排行</h2>
      <ul class="tjpic">
        <i><img src="{{ url_for('static',filename='images/toppic01.jpg')}}"></i>
        <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
      </ul>
      <ul class="sidenews">
        {% for foo in range(5) %}
            <li> <i><img src="{{ url_for('static',filename='images/toppic01.jpg')}}"></i>
          <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
          <span>2018-05-13</span> </li>
        {% endfor %}
      </ul>
    </div>
    <div class="cloud">
      <h2 class="hometitle">标签云</h2>
      <ul>
        <a href="/">陌上花开</a> <a href="/">校园生活</a> <a href="/">html5</a> <a href="/">SumSung</a> <a href="/">青春</a> <a href="/">温暖</a> <a href="/">阳光</a> <a href="/">三星</a><a href="/">索尼</a> <a href="/">华维荣耀</a> <a href="/">三星</a> <a href="/">索尼</a>
      </ul>
    </div>
    <div class="links">
      <h2 class="hometitle">友情链接</h2>
      <ul>
        {% for foo in range(3) %}
            <li><a href="http://www.yangqq.com" target="_blank">优秀个人博客</a></li>
        {% endfor %}
      </ul>
    </div>
    {{ follow.found() }}


  </div>

</article>
{% endblock %}

