{% extends 'base.html' %}
{% import 'macro/person.html' as follow %}
{% from  'macro/recommond.html' import showlist %}

{% block title %}{{ title }}{% endblock %}
{% block mystyle %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mine/404.css') }}">
    <script src="{{ url_for('static',filename='js/mine/blog-content.js') }}"></script>
{% endblock %}

{% block content %}
<div class="pagebg sh " style="background:url({{ url_for('static',filename='images/blank.jpg') }}) no-repeat"></div>
<div class="container">
  <h1 class="t_nav"><span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。 </span><a href="/" class="n1">网站首页</a><a href="#" class="n2">{{ title }}</a></h1>
  <!--blogsbox begin-->
    {{ showlist(blogs,current_user,paginations) }}
  <!--blogsbox end-->
  <div class="sidebar">
    {% include 'common.html' %}
    <div class="cloud">
      <h2 class="hometitle">标签云</h2>
      <ul>
        <a href="#">游戏</a> <a href="#">校园生活</a> <a href="#">python</a> <a href="#">SumSung</a> <a href="#">青春</a> <a href="#">温暖</a> <a href="/">阳光</a> <a href="#">小米</a><a href="/">索尼</a>
      </ul>
    </div>

    {{ follow.found() }}
  </div>
</div>
{% endblock %}
