pre{
    display: none;
}

.not-found{
    text-align: center;
}
.not-found input{
    border-radius: 10%;
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: aqua;
}
.nnn{
    height: 0;
    padding: 0;
    position: relative;
    left: 95%;
}
.blogs-update{

    width: 20px;

}
.nnn ul{
    display: none;
}