.news_infos li{
    background-color: #F5F5DC;
    margin-bottom: 5px;
}
.news_infos p{
    padding: auto 8px;
}
.leave_message{
    padding: 10px 40px;
}
.leave_message textarea{
    resize: none;
    width: 100%;
    height: 40px;
}
.leave_message input{
    position: relative;
    float: right;
    margin-top: -33px;
    padding: 0px;
    width: 40px;
    border-right: 0px;
    border-bottom: 0px;
}

.news_pl ul{
    padding: 8px 50px;
}
.news_pl li{
    border-top:solid 0.5px wheat;
}
.news_pl .comment-content{
    padding: 12px 7px;
}

.news_pl .comment-reply{
    padding-bottom: 5px;
    cursor: pointer;
}

.reply-form,#reply-list{
    display: none;
}
