{% from 'bootstrap/pagination.html' import render_pagination %}

{% macro comment(blog,comments,paginations) %}
    <div class="news_pl">
      <h2>文章评论</h2>
      <ul id="comment-list">
          {% for comment in comments %}
            <li>
              <div class="comment-content">{{ comment.auth.username }}:{{ comment.content }}</div>
              <div class="comment-reply">
                  <span id="reply">回复</span>
                  <span id="reply-total">{{ comment.replys|length }}条回复</span>
              </div>
              <form action="{{ url_for('web.reply',id=blog.id,comment_id=comment.id) }}" method="post" class="reply-form leave_message">
                <textarea name="reply" id="reply-textarea" placeholder="发表一下你的想法吧"></textarea>
                <input type="submit" name="reply_submit" value="发送">
              </form>
              <ul id="reply-list">
                  {% for reply in comment.replys %}
                    <li>{{ reply.auth.username }}:{{ reply.content }}</li>
                  {% endfor %}
              </ul>
          </li>
          {% endfor %}
      </ul>
    {% if comments %}
        {{ render_pagination(paginations,fragment="#comment-list") }}
    {% endif %}

      <form action="{{ url_for('web.comment',id=blog.id) }}" method="post" class="comment-form leave_message">
            <textarea name="comment" id="comment" placeholder="发表一下你的想法吧"></textarea>
            <input type="submit" name="comment_submit" value="发送">
      </form>
    </div>
    <div class="alert" id="alter">
        <p>你不能回复自己的评论</p>
    </div>
{% endmacro %}